<%- include('../partials/header') %>
<div class="flex-center flights">
  <div>
    <h2>Flights</h2>
    <table>
      <form action="/flights" method="GET">
        <label for="sorted">Sort by Date</label>
        <input type="checkbox" name="sorted" <%=checked %>
        onChange="this.form.submit()"/>
      </form>
      <thead>
        <tr>
          <th>Airlines</th>
          <th>Airport</th>
          <th>Flight Number</th>
          <th>Departure</th>
        </tr>
      </thead>
      <tbody>
        <%flights.forEach(flight => { %>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <% const dbTime = new Date(flight.departs)%>
          <% const now = new Date()%>
          <%if (dbTime < now) {%>
            <td> <span style="color:#19A7CE"><%= flight.departs %></span></td>
            <%} else {%>
            <td><%= flight.departs %></td>
              <%} %>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>


<%- include('../partials/footer') %>
